<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <Link rel="stylesheet" href="/css/styles.css">
    <Link rel="icon" href="/img/weather.png">

    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Luna Campos.
        It's running Node JS and Express JS and uses data from mapbox and darksky APIs to provide
        weather forecasts based on user-location submitted.
      </p>
      <img src="/img/selfie3.jpeg" class="portrait">
      <p>{{name}}</p>
    </div>
    {{>footer}}
  </body>
</html>
